@media(max-width:650px) {

    .km-box,
    .millas-box,
    .metros-box,
    .centimetros-box,
    .milimetros-box,
    .leguas-box {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .km-box label,
    .millas-box label,
    .metros-box label,
    .centimetros-box label,
    .milimetros-box label,
    .leguas-box label {
        width: 100%;
    }
}