
*{
  margin: 0px auto;
  padding: 0px;
}

body{
  display: block;
  background: #57E9FF;
  width:100%;
  height: 100%;
  overflow: hidden;
}

#bienvenido{
  width: 80%;
  font-size: 35px;
  margin-top: 5%;
  color: black;
  font-family: Sans-Serif,Arial;
  text-align: center;
}

#bienvenido:hover{
  color: #3B0003;
}
#bienvenido a{
  color: black;
  text-decoration: none;
}
#bienvenido a:hover{
  color: red;
}

#menu{
    display: block;
    width: 90%;
    height: 300px;
    
}
#menu ul{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    list-style: none;
    
}
#menu ul li{
    height: 50px;
    width: 90%;
    background: #FFB800;
    border-radius:50px ;
    margin-top:3% ;
}

#menu ul li:hover{
    background: #FF7E00;
}

ul li a{
    display: block;
    width: 90%;
    font-size: 20px;
    font-family: Arial,Sans-Serif,Comic;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background: none;
    color: #000;
}


#btn-volver{
    display: none;
    width: 90%;
    height: 50px;
    background: #FFB800;
    line-height: 50px;
    font-size:20px;
    text-align: center;
    color: #000;
    margin-top: 5%;
    border-radius: 50px;
}

#btn-volver:hover{
    background: #FF7E00;
}



#formulario{
  display: flex;
  margin-top: 10%;
  overflow: hidden;
  
}

.conversores{
    display: none;
    grid-template-columns: 40% 20% 40%;
    width: 90%;
}



.km-box,
.millas-box,
.metros-box,
.centimetros-box,
.milimetros-box,
.leguas-box{
  display: flex;
  flex-wrap: wrap;
}

.km-box label,
.millas-box label,
.metros-box label,
.centimetros-box label,
.milimetros-box label,
.leguas-box label{
  width: 30%;
  text-align: center;
  line-height: 40px ;
  padding-left:5px ;
  padding-right: 5px;

}


.btn-OK{
  width: 50px;
  height: 50px;
  color: black;
  background: blue;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif,Arial, Helvetica;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}



.valor{
  height: 40px;
  color: red;
  width: 50%;
  padding-left: 10px;
  
}

.valor:hover{
  border: 2px solid blue;
}

.btn-OK:hover{
  background: rgb(28, 205, 221);
  font-size: 25px;
  transition: all 300ms;

}


#mensaje-box{
  display: none;
  width: 90%;
  height: 60px;
  background: red;
  margin-top: 5%;
}

.parrafo-mensaje{
    font-family: Arial,Sans-Serif,Courier;
    font-size: 20px;
    width: 90%;
    height: 100%;
    line-height: 60px;
    text-align: center;
}

#footer{
  display: block;
  margin-top: 3.37%;
  width: 100%;
  height: 50px;
  background: #0034ff63;

}

#footer p{
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-family: sans-serif,Arial, Helvetica;
  color: black;
}

#footer p a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;

}

#footer p a:hover{
  color: red;
}
